{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "react-hot-loader/babel",
    "babel-plugin-lodash",
    "@babel/plugin-proposal-object-rest-spread",
    "syntax-async-functions",
    "@babel/plugin-transform-runtime"
  ]
}
