@import '../../assets/styles/vars/colors.scss';

.el-menu {
  overflow: hidden;
  background: #f2f1f1;
}

.el-menu__section {
}

.el-menu__section-icon {
  padding-right: 10px;
}

.el-menu__section-label {
  text-align: center;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10px;
  background: $color__white;
  margin-top: 1px;
}

.el-menu__section--disabled {
  opacity: 0.5;
}

.el-menu__section-items {
  margin-top: 1px;
  margin-bottom: 1px;
  background: $color__gray-1;
}

.el-menu__item {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 16px;
  min-height: 30px;
  cursor: pointer;
  line-height: 19px;
  border-left: 4px solid transparent;
  transition: border 0.2s linear, color 0.2s linear, fill 0.2s linear;
  font-size: 12px;

  &:hover:not(.el-menu__item--active) {
    color: $color__main-primary;

    .el-menu__item__icon {
      fill: $color__main-primary;
    }
  }
}

.el-menu__item__icon {
  transition: fill 0.2s linear;
  fill: #a7a7a7;
}

.el-menu__item--active {
  background: #f2f1f1;
  font-weight: bold;
  color: #333;

  .el-menu__item__icon {
    fill: $color__dark-blue-5;
  }
}

.el-menu__item--disabled {
  color: #999;
  fill: #ccc;
  border-color: transparent;
}

.el-menu__item--back {
  padding-left: 0px;
  height: 40px;
  background: $color__white;
  margin-top: 1px;
}

.el-menu__item--with-icon {
}

.el-menu__item__back-icon {
  transform: rotateZ(180deg);
  margin-left: 3px;
  margin-right: 3px;
}

.el-menu__item__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 100%;
  margin-right: 10px;
  padding-bottom: 2px;
}

.el-menu__item__item-named-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-right: 10px;
  padding-bottom: 2px;
}
