@import '../../assets/styles/vars/shadow.scss';

/* MULTI SELECTION */
.input-radio {
  padding: 3px;
  display: flex;
  font-size: 14px;
  align-items: center;
}
.input-radio__option {
  &:not(:first-child) {
    margin-left: 10px;
  }
}
.input-radio__input {
  appearance: none;
  display: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  position: relative;

  + label {
    align-items: center;
    max-width: 100%;
    display: flex;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;

    &:hover {
      &:before {
        box-shadow: $shadow-size rgba(0, 0, 0, 0.13);
      }
    }

    &:before {
      border-radius: 11px;
      box-sizing: initial;
      flex: 0 0 20px;
      display: inline-block;
      margin-right: 5px;
      background: linear-gradient(#fafafa, #f4f4f4);

      border: 1px solid #cacbcc;
      content: '';
      width: 20px;
      height: 20px;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.13);
      transition: all 0.2s ease-out;
    }
  }

  &.disabled {
    + label {
      color: #999;
      &:before {
        background: #eee;
        box-shadow: none;
      }
    }
  }

  &.disabled.checked {
    + label {
      &:before {
        border-color: #60d2fd;
        background: #60d2fd;
      }
    }
  }

  &.checked {
    + label {
      &:before {
        border-color: #00a2df;
        background: linear-gradient(0deg, #20c2ff, #00a2df);
      }
      &:after {
        content: '';
        box-sizing: content-box;
        box-sizing: initial;
        position: absolute;
        left: 7px;
        top: 7px;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        width: 8px;
        height: 8px;
        animation: animateRadioContent 0.2s ease-out 1;
      }
    }
  }
  &.focused {
    + label {
      &:before {
        box-shadow: $shadow-size rgba(0, 175, 255, 0.5);
      }
    }
  }
}
.input-radio__label {
  margin-left: 4px;
  color: #333;
  cursor: pointer;
  &:hover {
    color: #666;
  }

  &.disabled {
    color: #999;
  }
}

@keyframes animateRadioContent {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
