@import '../vars/colors.scss';
@import '../vars/border.scss';
@import '../vars/background.scss';
@import '../vars/general.scss';
@import '../vars/fonts.scss';

.el {
  font-family: $font__primary, $font__primary-fallback;
  letter-spacing: $font__primary-spacing;
}
.el__holder {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: 0;
  padding: 0;
  opacity: 0;
  border: none;
}
