@import '../../assets/styles/vars/colors.scss';

.el-spinner {
  animation: rotateSpinner 4s linear infinite;

  &.center {
    display: flex;
    width: 100%;
    height: inherit;
    align-items: center;
    justify-content: center;
  }
}
.el-spinner__component {
  animation: rotateSpinner 0.8s cubic-bezier(0.53, 0.26, 0.54, 0.74) infinite;
}

.el-spinner__svg-path {
  fill: none;
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke-linecap: round;
  stroke: $color__main-primary;
}

@keyframes rotateSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
