#navbar {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#content {
  position: absolute;
  top: 55px;
  width: 100%;
  bottom: 0px;
  display: flex;
  flex-direction: row;
}
#menu {
  width: 140px;
  height: 100%;
  flex-direction: column;
}
#view {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  border-left: 2px solid #ccc;
  position: relative;
  min-height: 0px;
}

#view__content {
  position: relative;
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
  width: 100%;
  padding-left: 10px;
}

.col-40px {
  color: #999;
  max-width: 40px;
  min-width: 40px;
}
.col-100px {
  color: #f30;
  max-width: 100px;
  min-width: 100px;
}

.m5 {
  margin: 5px;
}

.p10 {
  padding: 10px;
}

.b1-ccc {
  border: 1px solid #ccc;
}

.w500 {
  width: 500px;
}

.control-icon__test {
  fill: #f0f;
}
