h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 2rem;
  span {
    font-family: Ubuntu, sans-serif;
    display: flex;
  }
}
h1 {
  line-height: 39px;
}
h2 {
  line-height: 36px;
}
h3 {
  line-height: 33px;
}
h4 {
  line-height: 30px;
}
h5 {
  line-height: 27px;
}
h6 {
  line-height: 24px;
}
