/* SCROLLBAR RULES */
.scrollbar {
  width: 6px;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: transparent;

  &.show-track {
    background: rgba(0, 0, 0, 0.1);
  }

  .scrollbar-handle {
    background: rgba(0, 0, 0, 0.3);
    opacity: 0.7;
    width: 100%;
    transition: opacity 0.2s linear;
    &.moving {
      opacity: 1;
    }
  }
}
