@import '../../assets/styles/vars/colors.scss';

.el-scrollbox__wrapper {
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  max-height: 100%;
}
.el-scrollbox__content-box {
  width: calc(100% + 20px);
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding-right: 20px;
  flex: 1 0 auto;
  flex-direction: column;
}
.el-scrollbox__content-box--flexible {
  display: flex;
}
.el-scrollbox__content {
  width: calc(100% + 20px);
  flex-direction: column;
  flex: 2 0 auto;
  flex-direction: column;
}
.el-scrollbox__content--flexible {
  height: auto;
  display: flex;
}
