@import './colors.scss';

$background--default: $color__gray-1;
$background--open: $color__gray-1;
$background--pending: $color__gray-1;
$background--invalid: $color__gray-1;
$background--required: $color__gray-1;
