@import './colors.scss';

$border-radius: 0px;

$border-left-size: 2px solid;
$border-right-size: 2px solid;
$border-top-size: 2px solid;
$border-bottom-size: 2px solid;

$border-color--default: $color__main-primary;
$border-color--open: $color__dark-gray-2;
$border-color--pending: $color__blue-4;
$border-color--invalid: $color__main-danger;
$border-color--required: $color__main-warning;
