$color__main-primary: #4fc7e7;
$color__main-secondary: #226291;
$color__main-tertiary: #bbbbbb;
$color__main-success: #17bc65;
$color__main-danger: #d1344e;
$color__main-warning: #f49935;
$color__main-disabled: #d2d1d1;

$color__main-primary--active: #39cff7;
$color__main-secondary--active: #1676bc;
$color__main-tertiary--active: #cccccc;
$color__main-success--active: #15d670;
$color__main-danger--active: #e23955;
$color__main-warning--active: #ff9017;
$color__main-disabled--active: #f9f9f9;

$color__blue-1: #a7e8f9;
$color__blue-2: #77d5ee;
$color__blue-3: $color__main-primary;
$color__blue-4: #2fafd1;
$color__blue-5: #1a89a7;

$color__dark-blue-1: #82bae2;
$color__dark-blue-2: #3d85b9;
$color__dark-blue-3: $color__main-secondary;
$color__dark-blue-4: #0a3a5c;
$color__dark-blue-5: #02182b;

$color__green-1: #aaf2cb;
$color__green-2: #33cc7a;
$color__green-3: $color__main-success;
$color__green-4: #0e8c48;
$color__green-5: #174d30;

$color__gray-1: #fcfcfc;
$color__gray-2: #e1e1e1;
$color__gray-3: $color__main-tertiary;
$color__gray-4: #c4c4c4;
$color__gray-5: #ababab;

$color__dark-gray-1: #6b6c6d;
$color__dark-gray-2: #58595a;
$color__dark-gray-3: #3a3b3c;
$color__dark-gray-4: #262728;
$color__dark-gray-5: #121314;

$color__alpha-1: rgba(0, 0, 0, 0.1);
$color__alpha-2: rgba(0, 0, 0, 0.2);
$color__alpha-3: rgba(0, 0, 0, 0.3);
$color__alpha-4: rgba(0, 0, 0, 0.4);
$color__alpha-5: rgba(0, 0, 0, 0.5);

$color__white: #ffffff;
$color__yellow: #f2be24;
$color__viridian: #00b49d;
$color__teal: #00b5d1;
$color__navy: #178bea;
$color__indigo: #5e66f9;
$color__violet: #9a63f9;
$color__red: $color__main-danger;
